@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');

a, h1, p{
    font-family: 'Heebo', sans-serif;
    color: #21243D;
}
h2{
    font-weight: 500px;
}
.container-1{
    width: 100%;
}
.navbar-toggler{
    border: none;
}
.nav-item a{
    font-weight: 500;
    text-decoration: none;
    color: black;
}
.nav-item a:hover{
    color: #142850;
}
.nav-item a.active{
    color: #FF6464;
}
.btn{
    background-color:  #FF6464;
    border-radius: 2px;
    color: white;
    font-weight: 500;
}
.container-1{
    width: 100%;
}

.fw-bold-md{
    font-size: 34px;
    padding-bottom: 20px;
}
.sub-title{
    padding-left: 16px;
    font-size: 20px;

}

h3{
    background-color:rgb(255,100,100);
    color: #ffffff;
    border-radius: 15px;
    font-size: 15px;
    padding: 5px 10px;
}
h1{
padding-top: 50px;
}
h2{
padding-top: 5px;

}

footer .d-flex{
    grid-template-rows: repeat(2, 30%);
    grid-gap: 20px;

}
@media (min-width: 992px) {
    .container{
        width: 60%;
    }
    img{
        width: 100%;
    }
}
